language: android
dist: trusty
os:
- linux
jdk:
- openjdk12
node_js: "11"
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  yarn: true
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache

android:
  components:
    - build-tools-28.0.3
    - android-28

before_install:
# - nvm install 11
- npm install
- chmod +x ./gradlew
install:
- wget -P ./app/libs "https://github.com/bumptech/glide/releases/download/v4.7.0/compiler-4.7.0.jar"
- wget -P ./app/libs "https://github.com/bumptech/glide/releases/download/v4.7.0/annotation-4.7.0.jar"
- wget -P ./app/libs "https://github.com/bumptech/glide/releases/download/v4.7.0/glide-full-4.7.0.jar"
- wget -P ./app/libs "https://github.com/bumptech/glide/releases/download/v4.7.0/glide-gifencoder-integration-4.7.0.jar"
- ./gradlew dependencies

script:
- ./gradlew build

before_deploy:
- export TRAVIS_TAG=v$TRAVIS_COMMIT_MESSAGE
deploy:
- provider: script
  script: yarn deploy
  skip_cleanup: true
  on:
    condition: $TRAVIS_COMMIT_MESSAGE =~ ^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$
- provider: releases
  api_key: $GITHUB_TOKEN
  file_glob: true
  file: "./app/build/outputs/apk/*/*.apk"
  skip_cleanup: true
  name: "[Russian $TRAVIS_COMMIT_MESSAGE]($APPETIZE_URL)"
  prerelease: ${$TRAVIS_COMMIT_MESSAGE =~ ^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9]\d*|(beta|alpha)[0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)*?$}
  on:
    condition: $TRAVIS_COMMIT_MESSAGE =~ ^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$
