language: android
dist: trusty
node_js:
- "11"
os:
- linux
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache
android:
  components:
    # - tools
    # - platform-tools
    - build-tools-28.0.3
    # - android-28
    # - sys-img-x86-android-28
before_install:
- nvm install 11
- wget http://services.gradle.org/distributions/gradle-5.2.1-bin.zip
- unzip -qq gradle-5.2.1-bin.zip
- export GRADLE_HOME=$PWD/gradle-5.2.1
- export PATH=$GRADLE_HOME/bin:$PATH
- gradle -v

script:
  - gradle build
  - yarn deploy
deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file_glob: true
  file: "./app/build/outputs/apk/*/*.apk"
  skip_cleanup: true
  on:
    tags: false
