language: android
dist: trusty
jdk:
- openjdk12
os:
- linux
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache
android:
  components:
    # - tools
    # - platform-tools
    - build-tools-28.0.3
    - android-28
    # - sys-img-x86-android-28
before_install:
- nvm install 11
- chmod +x ./gradlew
install:
- wget -P ./app/libs "https://github.com/bumptech/glide/releases/download/v4.7.0/compiler-4.7.0.jar"
- wget -P ./app/libs "https://github.com/bumptech/glide/releases/download/v4.7.0/annotation-4.7.0.jar"
- wget -P ./app/libs "https://github.com/bumptech/glide/releases/download/v4.7.0/glide-full-4.7.0.jar"
- wget -P ./app/libs "https://github.com/bumptech/glide/releases/download/v4.7.0/glide-gifencoder-integration-4.7.0.jar"
- ./gradlew dependencies || echo "Hello World!"
script:
- ./gradlew build
- yarn deploy
deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file_glob: true
  file: "./app/build/outputs/apk/*/*.apk"
  skip_cleanup: true
  on:
    tags: true
