language: android
os: linux
dist: trusty
before_cache:
- rm -fr $HOME/.gradle/caches/5.2.1
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  npm: true
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/
  - $HOME/.android/build-cache
android:
  components:
  - build-tools-28.0.3
  - android-28

branches:
  only:
    - master
before_install: nvm install 11
install: node ./travis_scripts/get-glide.js
before_script: chmod +x ./gradlew
script: ./gradlew build
matrix:
  include:
    - jdk: openjdk8
    - jdk:
      - openjdk12
      before_deploy:
      - export TRAVIS_TAG=$(date +'%Y.%m.%d')
      - node ./travis_scripts/deploy.js
      - echo $APPETIZE_URL
      deploy:
        provider: releases
        api_key: $GITHUB_TOKEN
        file_glob: true
        file: "./app/build/outputs/apk/*/*.apk"
        skip_cleanup: true
        name: $(date +'%Y.%m.%d.%H:%M.%S')
        on:
          branch: master

  # on:
    # condition: $TRAVIS_COMMIT_MESSAGE =~ ^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(\.(0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*)?(\+[0-9a-zA-Z-]+(\.[0-9a-zA-Z-]+)*)?$


