name: Android CI
on: [push]
jobs:
  build:
    name: Emulator
    strategy:
      matrix:
        API: [28, 19, 16]
        ABI: [google_apis;x86, google_apis;armeabi-v7a]
        exclude: 
          - API: 28
            ABI: google_apis;armeabi-v7a
          - API: 19
            ABI: google_apis;x86
          - API: 16
            ABI: google_apis;x86
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Download Android SDK
      run: |
        ANDROID_TOOLS=4333796 # android-28
        export ANDROID_HOME=~/android-sdk
        wget -q "https://dl.google.com/android/repository/sdk-tools-linux-$ANDROID_TOOLS.zip" -O android-sdk-tools.zip
        unzip -q android-sdk-tools.zip -d ${ANDROID_HOME}
        rm android-sdk-tools.zip
        export PATH=${PATH}:${ANDROID_HOME}/tools:${ANDROID_HOME}/tools/bin:${ANDROID_HOME}/platform-tools
        echo $PATH
        export ANDROID_SDK_ROOT=$ANDROID_HOME
        # Silence warning.
        mkdir -p ~/.android
        touch ~/.android/repositories.cfg
        yes | sdkmanager --licenses                                        # accept all licenses
        echo ----------------------
        echo ${{ matrix.API }}
        echo ----------------------
        sdkmanager "tools" "platform-tools" > /dev/null                    # tools + platform-tools
        sdkmanager --list | head -15                                       # packages list
        sdkmanager "build-tools;28.0.3" "platforms;android-28" > /dev/null # build-tools + compile API version
        sdkmanager --list | head -15
        sdkmanager "emulator" > /dev/null
        sdkmanager "platforms;android-${{ matrix.API }}" > /dev/null
        sdkmanager "system-images;android-${{ matrix.API }};${{ matrix.ABI }}" > /dev/null
        
        echo no | avdmanager create avd -n test -k "system-images;android-$API;$ABI"
        if [[ "${API}${ABI}" == "25google_apis;armeabi-v7a" || "${API}${ABI}" == "24google_apis;armeabi-v7a" ]]; then EMU_PARAMS="-no-window -gpu swiftshader" else EMU_PARAMS="-no-boot-anim -gpu off" fi
        $ANDROID_HOME/emulator/emulator -avd test -no-accel -no-audio $EMU_PARAMS $EMU_ADDITIONAL_OPTIONS ${EMU_DEBUG} &
        
        chmod +x ./travis_scripts/android-wait-for-emulator.sh
        ./travis_scripts/android-wait-for-emulator.sh
        adb shell input keyevent 82 &
    - name: nodejs
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: glide
      run: npm run glide
    - name: Connected Check
      run: |
        ./gradlew connectedCheck
    - name: Build with Gradle
      run: ./gradlew build --info
