name: Android CI
on: [push]
jobs:
  build:
    name: Emulator
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - run: |
        echo ${GRADLE_USER_HOME}
        echo ${GRADLE_HOME}
    - name: nodejs
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: glide
      run: npm run glide
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: ./gradlew build
    - uses: actions/upload-artifact@v1
      with:
        name: Apks
        path:  ./app/build/outputs/apk

    - name: Cache
      uses: actions/cache@v1.0.3
      with:
        path: ${GRADLE_USER_HOME}
        key: cache
    #- name: Download Android SDK
    #  run: |
    #    ANDROID_TOOLS=4333796 # android-28
    #    export ANDROID_HOME=~/android-sdk
    #    wget -q "https://dl.google.com/android/repository/sdk-tools-linux-$ANDROID_TOOLS.zip" -O android-sdk-tools.zip
    #    unzip -q android-sdk-tools.zip -d ${ANDROID_HOME}
    #    rm android-sdk-tools.zip
    #    export PATH=${PATH}:${ANDROID_HOME}/tools:${ANDROID_HOME}/tools/bin:${ANDROID_HOME}/platform-tools
    #    echo $PATH
    #    export ANDROID_SDK_ROOT=$ANDROID_HOME
    #    # Silence warning.
    #    mkdir -p ~/.android
    #    touch ~/.android/repositories.cfg
    #    yes | sdkmanager --licenses                                        # accept all licenses
    #
    #    sdkmanager "tools" "platform-tools" > /dev/null                    # tools + platform-tools
    #    sdkmanager --list | head -15                                       # packages list
    #    sdkmanager "build-tools;28.0.3" "platforms;android-28" > /dev/null # build-tools + compile API version
    #    sdkmanager --list | head -15
    #    sdkmanager "emulator" > /dev/null
    #    sdkmanager "system-images;android-28;google_apis;x86" > /dev/null
        
    #    echo no | avdmanager create avd -n test -k "system-images;android-28;google_apis;x86"
    #    $ANDROID_HOME/emulator/emulator -avd test -no-accel -no-audio -no-boot-anim -gpu off &
        
    #    chmod +x ./travis_scripts/android-wait-for-emulator.sh
    #    ./travis_scripts/android-wait-for-emulator.sh
    #    adb shell input keyevent 82 &
    
    #- name: setup-android
    #  uses: msfjarvis/setup-android@0.2
    #- name: Connected Check
    #  run: |
    #    ./gradlew connectedCheck
    #- name: Build with Gradle
    #  run: ./gradlew build --info
