name: Android CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: nodejs
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: glide
      run: npm run glide
    - name: Build with Gradle
      run: ./gradlew build --info
